<hr>
{{include}}
  <br>
  "https://farm{{include.image['farm-id']}}.staticflickr.com/{{include.image['server-id']}}/{{include.image['photo-id']}}_{{include.image['secret']}}_{{include.image['size']}}.jpg"
  <a href="https://www.flickr.com/photos/123578762@N06/14442235737/sizes/l" alt="Get all sizes on Flickr">
<img src="https://farm{{include.image['farm-id']}}.staticflickr.com/{{include.image['server-id']}}/{{include.image['photo-id']}}_{{include.image['secret']}}_{{include.image['size']}}.jpg" width=100% />
</a>
